@font-face {
  font-family: Beat Tech;
  src: url('BEATTECH.otf')
}
@font-face {
  font-family: Beat Tech2;
  src: url('BEATTECH-Line.otf')
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  color: #fff;
  background: linear-gradient(#36060b, #000);
  line-height: 1.6;
  background-attachment: fixed;
}
@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(190deg, #000, #530000a1);
  border-bottom: 3px solid #c00;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 40px #870f00;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 72px;
}

.navbar .logo {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  color: #c00;
  font-weight: bold;
}

#hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  font-family: 'Beat Tech', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #870f00;
}

/* Esconde o menu no mobile */
.nav-links.hidden {
  display: none;
  
}

/* Mostra o menu em forma de lista suspensa no mobile */
.nav-links.active {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 72px;
  right: 20px;
  background: linear-gradient(#36060b, transparent);
  border: 1px solid #870f00;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

/* Para telas pequenas */
@media screen and (max-width: 768px) {
  #hamburger {
    display: block;
  }

  .nav-links {
    display: none;
  }
}

/* Para telas grandes (acima de 768px) */
@media screen and (min-width: 769px) {
  .nav-links {
    display: flex;
  }

  #hamburger {
    display: none;
  }
}

.home-section {
  text-align: center;
  padding: 5rem 2rem;
}

.home-section h1 {
  font-size: 2.5rem;
  color: #c00;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 10px #000000;
  font-family: 'beat tech', Sans-Serif;
  margin-top: 5%;
}

.home-section p {
  font-size: 1.2rem;
  color: #ddd;
  text-shadow: 1px 1px 1px #000;
}

/* Torneios Section */
.torneios-section {
  padding: 3rem 2rem;
}

.torneios-section h1 {
  font-size: 2rem;
  color: #c00;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'beat tech', Sans-Serif;
}

.torneios-table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #000;
}

.torneios-table thead {
  background-color: #36060b;
}

.torneios-table th,
.torneios-table td {
  padding: 1rem;
  text-align: center;
  border: 1px solid #333;
}

.torneios-table th {
  color: #fff;
  font-weight: bold;
}

.torneios-table tbody tr:nth-child(even) {
  background-color: #36060b;
}

.torneios-table tbody tr:hover {
  background-color: #444;
}

.container-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  transition: .5s;
}

.buttom-invite {
  display: flex;
  background: linear-gradient(#de0000e3, #0a0a0ae3);
  width: 200px;
  height: 60px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 255);
  animation: float-side 6s infinite ease-in-out; /* Animação adicionada */
}

.buttom-invite a {
  color: white;
  font-family: 'beat tech', sans-serif;
  text-decoration: none;
  font-size: 30px;
}
.container-buttom:hover {
  text-shadow: 1px 1px 20px red;
  transition: .5s;
}

/* Keyframes para o movimento lateral */
@keyframes float-side {
  0% {
    transform: translateX(0); /* Posição inicial */
  }
  50% {
    transform: translateY(-20px); /* Move para a direita */
  }
  -100% {
    transform: translateX(50px); /* Move para a direita */
  }
  100% {
    transform: translateX(0); /* Volta para a posição inicial */
  }
}

footer > p {
  text-align: center;
  font-size: .5rem;
}

body {
  filter: blur(10px);
  opacity: 0;
  animation: blurIn .5s ease-out forwards;
}

@keyframes blurIn {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

body {
  background: linear-gradient(#53000000, rgba(0, 0, 0, 10)),  
              url('5.webp') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  line-height: 1.6;
  background-attachment: fixed;
}

/* Para telas menores */
@media screen and (max-width: 768px) {
  body {
    background: linear-gradient(#53000000, rgba(0, 0, 0, 10)),  
                url('5.webp') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
  }
}

